*
{
    box-sizing: border-box;
}

body
{
    background-color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    overflow: hidden;
    margin: 0;


}
h3{
    text-align: center;
    color: white;
    margin: 10px 0 20px;


}

.container
{
      width: 500px;

}
textarea
{ 
    border: none;
    display: block;
    width: 100%;
    height: 100px;
    font-family: inherit;
    padding: 10px;
    margin: 0 0 20px;
    font-size: 16px;

}

.tag
{
    background-color: orange;
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
    margin:0 5px 10px 0;
    font-size: 14px;
    display: inline-block;

}
.tag.highlight
{
background-color: darkblue;
}