



*
{
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    
}
.container
{
    display: flex;
    width: 90vW;
}

.panel
{
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    position: relative;
    transition: 0.5s ease-in;

}
.panel h3{
    position: absolute;
    font-size: 24px;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;

}
.panel.active
{ 
    flex:5;
    transition: opacity 0.3s ease-in 0.4s;

}
.panel.active h3
{
    opacity: 1;
}
@media(max-width:480px)
{
    .container
    {
        width: 100vw;
    }
    .panel:nth-of-type(4),.panel:nth-of-type(4)
    {
        display: none;
    }
}